.ScheduleTable {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(49, 54, 63);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: 10px;
    font-size: 1.5vh;
    text-align: center;
}

.ScheduleTable th,
.ScheduleTable td {
    height: 35px;
    width: 60px;
    padding: 1px 6px;
}

.ScheduleTable th {
    background-color: rgba(0, 0, 0, 0.2);
}

.ScheduleTable td {
    color: white;
    background-color: rgba(249, 248, 255, 0.05);
}

.ScheduleTable[ishided='true'] {
    display: none;
}