.LoginPage {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.LoginPage .login {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 480px;
    height: 360px;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 54, 63);
}

.LoginPage .credentials-row {
    display: flex;
    flex-direction: row;
}

.LoginPage .toggle {
    display: flex;
    flex: 1;
    font-size: 18px;
    height: 50px;
}

.LoginPage label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(238, 238, 238);
    width: 100%;
    height: 100%;
}

.LoginPage .inputs {
    display: flex;
    flex-direction: column;
    height: 64px;
    width: 240px;
}

.LoginPage input {
    font-size: 14px;
}

.LoginPage input[placeholder="유저 아이디"] {
    border-top-left-radius: 8px;
}
.LoginPage input[placeholder="비밀번호"] {
    border-bottom-left-radius: 8px;
}

.LoginPage .userButton {
    width: 100px;
    color: rgb(238, 238, 238);
    font-size: 18px;
    box-sizing: border-box;
    background-color: rgb(118, 171, 174);
    border-bottom-right-radius: 8px ;
    border-top-right-radius: 8px;
}

.LoginPage .toggle {
    position: relative;
}

.LoginPage .pw-visible {
    display: flex;
    position: relative;
    justify-content: center;
}

.LoginPage .pw-visible .visible-toggle {
    position: absolute;
    right: 0;
    font-size: 8px;
    border-radius: 8px;
    text-align: center;
    height: 12px;
    width: 30px;
}
.LoginPage .visible-toggle:hover {
    cursor: pointer;
}

.LoginPage .indicator {
    position: absolute;
    background-color: rgb(118, 171, 174);
    height: 5px;
    width: 170px;
    bottom: 0;
    transition: transform 0.3s ease;
}

.LoginPage #학생:checked ~ .indicator {
    transform: translateX(0%);
}
.LoginPage #교사:checked ~ .indicator {
    transform: translateX(100%);
}

.LoginPage .login:has(#학생:checked) input[placeholder='유저 아이디'] {
    border-top-left-radius: 0px;
    transition: ease .2s
}

.LoginPage .login:has(#교사:checked) .userButton {
    border-top-right-radius: 0px;
    transition: ease .2s
}

.LoginPage .direct-signup {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(238, 238, 238);
}

.LoginPage .direct-signup span {
    color: rgb(238, 238, 238);
}

.LoginPage .direct-signup a {
    text-decoration: none;
}


@media(max-width:520px) {
    .LoginPage .login {
        width:90%;
        max-width: 400px;
        padding: 5%;
    }
    .LoginPage .inputs {
        width: 90%;
        max-width: 380px;
    }
    .LoginPage .visible-toggle {
        width: 90%;
        max-width: 380px;
        transform: translateX(50%);
    }
    .LoginPage .pw-visible {
        width: 100%;
        max-width: 380px;
    }
    .LoginPage .toggle {
        width: 100%;
        max-width: 400px;
    }
    .LoginPage .indicator {
        width: 50%;
    }
    
}