.GuestPage {
    margin-top: 92px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    & .main-layout {
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        & .title-container {
            flex: 1;
            width: 100%;
            justify-content: stretch;
            & .title {
                font-size: 4dvw;
                font-weight: bold;
            }
            & .description {
                font-size: 2dvw;
            }
        }
        & .content-container {
            flex: 3;
            flex-direction: row;
            width: 100%;
            justify-content: stretch;
            align-items: center;
            gap: 40px;
            & .text {
                flex-direction: column;
            }
            & img {
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.2);
            }
            & .signup-btn {
                display: flex;
                text-decoration: none;
                color: white;
                background-color: rgb(118, 171, 174);
                border-radius: 30dvw;
                width: 30dvw;
                height: 10dvh;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: 2dvw;
            }
            & .more-info {
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
                margin: 20px;
                font-size: 1.5dvw;
            }
            & .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5dvw;
                & .quick-attend {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    & .quick-attend-icon {
                        color: rgb(118, 171, 174);
                        border-radius: 10px;
                        width: 5dvw;
                        height: 100%;
                    }
                    & .quick-attend-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 1.5dvw;
                        font-weight: bold;
                    }
                    & .quick-attend-subtext {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 1dvw;
                    }
                }
                & .no-download {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    & .no-download-icon {
                        color: rgb(118, 171, 174);
                        border-radius: 10px;
                        width: 5dvw;
                        height: 100%;
                    }
                    & .no-download-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 1.5dvw;
                        font-weight: bold;
                    }
                    & .no-download-subtext {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 1dvw;
                    }
                }
            }
        }
    }
}

@media(max-width:520px) {
    .GuestPage {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        & .main-layout {
            justify-content: flex-start;
            flex-direction: column;
            overflow-y: scroll;
            & .title-container {
                .title {
                    font-size: 150%;
                }
                .description {
                    font-size: 110%;
                }
            }
            & .content-container {
                flex-direction: column;
                & img {
                    width: 100%;
                    height: 100%;
                }
                & .signup-btn {
                    width: 90dvw;
                    font-size: 6dvw;
                }
                & .more-info {
                    font-size: 4dvw;
                }
                & .icons {
                    & .quick-attend {
                        & .quick-attend-icon {
                            width: 30dvw;
                        }
                        & .quick-attend-text {
                            font-size: 5dvw;
                        }
                        & .quick-attend-subtext {
                            font-size: 3dvw;
                        }
                    }
                    & .no-download {
                        & .no-download-icon {
                            width: 30dvw;;
                        }
                        & .no-download-text {
                            font-size: 5dvw;
                        }
                        & .no-download-subtext {
                            font-size: 3dvw;
                        }
                    }
                }
            }
        }
    }
}