@import "/src/font.css";
.StudentPage {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 0;
    color: rgb(238, 238, 238);
    box-sizing: border-box;
}
.StudentPage .main {
    padding-top: 92px;
    display: flex;
    flex: 3;
    z-index: 10;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    min-height: 0;
    gap: 20px;
    & .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        & .prev, .next {
            display: flex;
            font-size: 4dvw;
            padding: 2dvw;
            cursor: pointer;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    }
    & .student-list {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        width: 60dvw;
        height: 60dvh;
        border-radius: 10px;
        overflow: hidden;
        overflow-y: scroll;
        & .slide_box {
            display: flex;
            flex-shrink: 0;
            flex-direction: row;
            margin: 0;
            height: 60dvh;
            transition: .2s all ease;
            & .slide_item {
                display: flex;
                flex-direction: column;
                flex: 0 0 60dvw;
                justify-content: center;
                align-items: center;
                color: white;
                height: 60dvh;
                scroll-snap-align: unset;
            }
        }
    }
}
.StudentPage .profile-tab {
    box-sizing: border-box;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 0;
    flex: 1;
    z-index: 10;
    background-color: rgba(233, 233, 233, 0.03);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.StudentPage .profile-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StudentPage .profile-img {
    display: flex;
    width: 24vh; 
    height: 24vh;
    gap: 10px;
    border-radius: 100%;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.StudentPage .name {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2dvh;
    & .name-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 3dvh;
        align-items: center;
        text-align: center;
        & .new-name-input {
            display: flex;
            border: none;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            text-align: center; 
            box-sizing: border-box;
            width: 8dvw;
            height: 3dvh;
            &::placeholder {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
        & .new-name-submit {
            display: flex;
            border: none;
            text-align: center;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            box-sizing: border-box;
            width: 3dvw;
            height: 3dvh;
            background-color: rgb(118, 171, 174);
            color: white;
        }
    }
}
.StudentPage .grade {
    margin-bottom: 2dvh;
}

.StudentPage .edit-icon {
    display: flex;
    filter: brightness(0) invert(1);
    justify-content: center;
    align-items: center;
}

.StudentPage .profile-tab .attendence-form-side {
    display: flex;
    flex: 1;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    & input {
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        border: none;
        height: 5vh;
        width: 24vh;
        &::placeholder {
            text-align: center;
        }
    }
}

.StudentPage .main .attendence-form-main {
    display: none;
    flex: 1;
    margin-top: 72px;
    justify-content: center;
    align-items: center;
    & input {
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        border-radius: 10px;
        border: none;
        height: 10vh;
        max-width: 120vh;
        width: 100%;
        &::placeholder {
            text-align: center;
        }
    }
}

@media(max-width:520px) {
    .StudentPage {
        width: 90%;
        padding: 5%;
    }
    .StudentPage .profile-tab {
        display: none;
    }
    .StudentPage .main {
        width:90%;
        padding: 5%;
    }
    .StudentPage .main .attendence-form-main {
        display: flex;
        width: 90%;
        padding: 5%;
    }
}