.HomePage {
    height: 100%;
    width: 100%;
    overflow: scroll;
    color: rgb(238, 238, 238);
}

.HomePage .main {
    display: flex;
    position: relative;
    flex: 1;
    height: 250px;
    font-size: 100px;
    z-index: 10;
}

.HomePage .circle {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.HomePage .background {
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.HomePage .banner {
    display: flex;
    z-index: 0;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: 100%;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
}
.HomePage .banner ul.rolling {
    display: flex;
    gap: 0;
    padding: 0;
    margin: 0;
    flex-direction: row;
    width: max-content;
    height: 100%;
    animation: rolling 60s linear infinite;
    opacity: 0.6;
    li {
        list-style: none;
    }
}
@keyframes rolling {
    0% { transform: translateX(0%) }
    100% { transform: translateX(-100%) }
}