@import "/src/font.css";
.TeacherPage {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 0;
    color: rgb(238, 238, 238);
    box-sizing: border-box;
}


.TeacherPage .main {
    padding-top: 92px;
    display: flex;
    flex: 3;
    z-index: 10;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    min-height: 0;
    gap: 20px;
    & .student-list {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 400px;
        height: 300px;
        overflow: hidden;
        background-color: black;
        & .slide_box {
            display: flex;
            flex-shrink: 0;
            flex-direction: row;
            width: 1600px;
            margin: 0 auto;
            height: 300px;
            transform: translateX(600px);
            & .slide_item {
                flex-shrink: 0;
                float: left;
                color: white;
                font-size: 100px;
                width: 400px;
                height: 300px;
                background-color: red;
            }
        }
    }
}
.TeacherPage .profile-tab {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    height: 100%;
    flex: 1;
    z-index: 10;
    background-color: rgba(233, 233, 233, 0.03);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.TeacherPage .profile-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TeacherPage .profile-img {
    display: flex;
    width: 24dvh; 
    height: 24dvh;
    border-radius: 100%;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.TeacherPage .name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.TeacherPage .edit-icon {
    display: flex;
    filter: brightness(0) invert(1);
    justify-content: center;
    align-items: center;
}

.TeacherPage .profile-tab .attendence-form-side {
    display: flex;
    flex: 1;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    & .dropdown {
        display: flex;
    }
    & .dropdown-box {
        display: flex;
        position: relative;
        & .dropdown-placeholder {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            box-sizing: border-box;
            display: inline-block;
            height: 5dvh;
            width: 12dvh;
            border: none;
            font-family: appleNeo;
            z-index: 10;
        }
        & .dropdown-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            border-radius: 10px;
            border: none;
            padding: 0;
            padding-bottom: 1dvh;
            padding-top: 3dvh;
            left: 0;
            right: 0;
            z-index: 5;
            background-color: rgb(255, 255, 255);
            color: black;
            & .dropdown-item {
                display: flex;
                padding: 0.2dvh;
                justify-content: center;
                align-items: center;
                text-align: center;
                list-style-type: none;
                transition: .2s ease;
                &:hover {
                    color: rgb(118, 171, 174);
                    font-size: 2.3dvh;
                    transition: .2s ease;
                }
            }
            & .add-btn {
                border: none;
                background-color: rgba(0,0,0,0);
                font-size: 1.5dvh;
                padding: .3dvh;
                font-family: appleNeo;
            }
        }
    }
    & input {
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;
        height: 5dvh;
        width: 20dvh;
        &::placeholder {
            text-align: center;
            font-family: appleNeo;
        }
    }
    & .createQR {
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        border: none;
        height: 5dvh;
        width: 10dvh;
        background-color: rgb(118, 171, 174);
    }
}

.TeacherPage .main .attendence-form-main {
    display: none;
    flex: 1;
    margin-top: 72px;
    justify-content: center;
    align-items: center;
    & .dropdown {
        display: flex;
    }
    & .dropdown-box {
        display: flex;
        position: relative;
        & .dropdown-placeholder {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            box-sizing: border-box;
            display: inline-block;
            height: 10dvh;
            width: 12dvh;
            border: none;
            font-family: appleNeo;
            z-index: 10;
        }
        & .dropdown-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            border-radius: 10px;
            border: none;
            padding: 0;
            padding-bottom: 1dvh;
            padding-top: 8dvh;
            left: 0;
            right: 0;
            z-index: 5;
            background-color: rgb(255, 255, 255);
            color: black;
            & .dropdown-item {
                display: flex;
                padding: 0.2dvh;
                justify-content: center;
                align-items: center;
                text-align: center;
                list-style-type: none;
                transition: .2s ease;
                &:hover {
                    color: rgb(118, 171, 174);
                    font-size: 2.3dvh;
                    transition: .2s ease;
                }
            }
            & .add-btn {
                border: none;
                background-color: rgba(0,0,0,0);
                font-size: 1.5dvh;
            }
        }
    }
    & input {
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;
        height: 10dvh;
        width: 20dvh;
        &::placeholder {
            text-align: center;
            font-family: appleNeo;
        }
    }
}

@media(max-width:520px) {
    .TeacherPage {
        width: 90%;
        padding: 5%;
    }
    .TeacherPage .profile-tab {
        display: none;
    }
    .TeacherPage .main {
        width:90%;
        padding: 5%;
    }
    .TeacherPage .main .attendence-form-main {
        display: flex;
        width: 90%;
        padding: 5%;
    }
}