.notes-table {
    border-collapse: collapse;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    background-color: rgb(49, 54, 63);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    max-width: 120vh;
    width: 100%;
    margin: 10px;
    font-size: 1.5vh;
    text-align: center;
}

.notes-table th,
.notes-table td {
    height: 100px;
    width: 200px;
    padding: 1px 6px;
}

.notes-table th {
    font-size: 3vh;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
}

.notes-table td {
    font-size: 3vh;
    color: white;
    background-color: rgba(249, 248, 255, 0.05);
}

@media(max-width:520px) {
    .notes-table {
        width: 90%;
        max-width: 100vh;
    }
    .notes-table .th {
        height: 80%;
        width: 90%;
        max-width: 40px;
        padding: 5%;
    }
    .notes-table .td {
        height: 80%;
        width: 90%;
        max-width: 40px;
        padding: 5%;
    }
}