@import "/src/font.css";
.userInput {
    width: 100%;
    height: 100%;
    border: transparent;
    text-align: center;
    box-sizing: border-box !important;
    outline: none;
    font-family: appleNeo;
}

.userInput::placeholder {
    color: rgb(10, 10, 10, 0.4);
}