.DailyScheduleTable {
    border-collapse: collapse;
    outline: 2px solid black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #31363F;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 3dvh;
    color: black;
    text-align: center;
}

.DailyScheduleTable th,
.DailyScheduleTable td {
    height: 35px;
    width: 60px;
    padding: 1px 6px;
}

.DailyScheduleTable th {
    background-color: #31363F;
    color: white;
}

.DailyScheduleTable td {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: #4A5562;
    border: .5px solid black;
}

.DailyScheduleTable thead .title {
    width: 100%;
    text-align: center;
    color: white;
}