@import "/src/font.css";
.userButton {
    align-items: center;
    border: transparent;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    font-family: appleNeo;
}